.dgsplash-table-holder > {
	margin: 0 0 30px 0;
}

.dgsplash-table-holder > .buttons.top {
	margin-bottom: 10px;
}

.dgsplash-table-holder > .buttons.bottom {
	margin-top: 10px;
}

.dgsplash-table-holder > .buttons {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.dgsplash-table-holder > .buttons > a {
	border: 1px solid '{primaryColor}';
	margin-right: 10px;
	padding: 5px 10px;
	color: '{primaryColor}';
	text-decoration: none;
	border-radius: 5px;
}
.dgsplash-table-holder > .buttons > a:hover {
	background-color: '{secondaryColor}';
}

.dgsplash-table-holder > .buttons > a > i {
	color: '{primaryColor}';
	float: right;
	margin-left: 5px;
}

.dgsplash-table-holder > .dgsplash-table {
	border-collapse: collapse;
}

.dgsplash-table-holder > .dgsplash-table > thead {
}
.dgsplash-table-holder > .dgsplash-table > thead > tr {
}
.dgsplash-table-holder > .dgsplash-table > thead > tr > th {
	text-align: center;
	border: 1px solid '{primaryColor}';
	padding: 5px 10px;
}

.dgsplash-table-holder > .dgsplash-table > tbody {
}
.dgsplash-table-holder > .dgsplash-table > tbody > tr {
}
.dgsplash-table-holder > .dgsplash-table > tbody > tr > td {
	border: 1px solid '{primaryColor}';
	padding: 5px 10px;
}
.dgsplash-table-holder > .dgsplash-table > tbody > tr > td > .buttons.cell {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
.dgsplash-table-holder > .dgsplash-table > tbody > tr > td > .buttons.cell > a {
	border: 1px solid '{primaryColor}';
	border-radius: 50%;
	width: 20px;
	height: 20px;
	line-height: 22px;
	text-align: center;
	color: '{primaryColor}';
}
.dgsplash-table-holder
	> .dgsplash-table
	> tbody
	> tr
	> td
	> .buttons.cell
	> a
	> i {
	line-height: 18px;
}
.dgsplash-table-holder
	> .dgsplash-table
	> tbody
	> tr
	> td
	> .buttons.cell
	> a:hover {
	background-color: '{secondaryColor}';
}

.dgsplash-table-holder > .dgsplash-table > tfoot {
}
.dgsplash-table-holder > .dgsplash-table > tfoot > tr {
}
.dgsplash-table-holder > .dgsplash-table > tfoot > tr > th {
	text-align: center;
	border: 1px solid '{primaryColor}';
	padding: 5px 10px;
}
