{
	"env": "production,staging,test,demo,local...",
	"super_pass": "24c4b17e4d18c901b8af0ba66971679e09e4815ead3c517b3a162da0ba45cab7d1b8fe2b76be9534cec2e91df32c884ee134009e1b5182ac4aa5260cd4cc1ea5",
	"enable_next_gen": false,
	"debug": false,
	"timezone": "Europe/London",
	"tenant": {
		"name": "Digital Splash",
		"domain": "dgsplash.com",
		"year": "2025",
		"logo": "https://dgsplash.com/assets/images/logo-bg.jpg",
		"primary_color": "#039fc3",
		"secondary_color": "#000"
	},
	"database": {
		"mysql": {
			"host": "php-services-database",
			"username": "root",
			"password": "",
			"main_database": "php_services",
			"logs_database": "php_services_logs",
			"test_main_database": "php_services_test",
			"test_logs_database": "php_services_test_logs"
		}
	},
	"paths": {
		"admin": "https://admin.dgsplash.com/",
		"api": "https://api.dgsplash.com/v1/",
		"app": "https://app.dgsplash.com/",
		"media": "https://media.dgsplash.com/",
		"website": "https://dgsplash.com/"
	},
	"mail": {
		"phpmailer": {
			"host": "mail.dgsplash.com",
			"port": 465,
			"encryption": "ssl",
			"from": {
				"name": "Digital Splash",
				"email": "noreply@dgsplash.com",
				"password": ""
			}
		},
		"test_email": "testing@dgsplash.com"
	},
	"api_ninjas": {
		"url": "",
		"key": ""
	},
	"cache": {
		"root_src_const_name": "ROOT_DIR_SRC",
		"root_src": "/var/www/html/src/_cache",
		"folder_name": "cache"
	}
}
