.dgsplash-tabs {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-bottom: 15px;
}

.dgsplash-tabs > .top-tabs {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
	border-bottom: 2px solid '{primaryColor}';
}
.dgsplash-tabs > .top-tabs > li {
	border: 2px solid '{primaryColor}';
	border-bottom: none;
	border-right: 0;
}
.dgsplash-tabs > .top-tabs > li:first-child {
	border-top-left-radius: 5px;
}

.dgsplash-tabs > .top-tabs > li:last-child {
	border-right: 2px solid '{primaryColor}';
	border-top-right-radius: 5px;
}
.dgsplash-tabs > .top-tabs > li > a {
	padding: 5px 15px;
	display: block;
	color: '{primaryColor}';
	font-size: 12pt;
	text-decoration: none;
}
.dgsplash-tabs > .top-tabs > li a:hover,
.dgsplash-tabs > .top-tabs > li.active > a {
	background-color: '{secondaryColor}';
}

.dgsplash-tabs > .tabs-contents {
	padding: 10px;
	border: 2px solid '{primaryColor}';
	border-top: none;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.dgsplash-tabs > .tabs-contents > .tab-content {
	display: none;
}
.dgsplash-tabs .tab-content.active {
	display: block;
}
